.right-align{
    text-align: end;
}

.altezza-100{
    height: 100vh;
}

.nascondi-overscroll{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: currentColor;
}

.hover-project:hover{
    color: rgb(76, 76, 145);
}

// .bi-box{
//     color: rgb(76, 76, 145) ;
// }

a:hover{
    color: rgb(76, 76, 145);
}

.bottoni-card{
    justify-content: end;
}

body{
    background-image: url(/public/web-development-and-user-interface-design-concept-isometric-website-development-background-vector-Photoroom.png);
    background-size: cover;
    background-attachment: fixed;
}

.testo-bianco{
    color:whitesmoke
}

.no-border{
    border: none;
}


.header-logged{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 10;
    background-color: whitesmoke;
}